*{
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #FFFFFF;
    --sub-background-color: #D9D9D9;
}

body{
    margin-top: 172px;
    min-height: calc(99vh - 172px);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    padding: 0 7vw;
}
input{
    font-family: 'Open Sans', sans-serif;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    height: 172px;
    width: 100vw;
    background-color: var(--sub-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: black 1px solid;
}
.hlogo_container{
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: xx-large;
}
.hmenu{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 20vw;
}
.hmenu > a{
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: larger;
}
.lk_logo{
    width: 150px;
    height: 150px;
    
}
.lk_logo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 90px;
}

#search{
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#search_input{
    padding: 10px;
    border-radius: 90px;
    border: 2px solid black;
    max-width: 1135px;
    width: 80vw;
}

.main_content{
    min-height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.iblock1{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iblock2{
    height: 358px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.iblock2 > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 180px;
    background-color: var(--sub-background-color);
    padding: 50px;
    border-radius: 20px;
}
.iblock2 > div img{
    width: 90px;
    object-fit: cover;
    height: 90px;
    border-radius: 90px;
}
.iblock3{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasklist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.task{
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sub-background-color);
    padding: 5% 7%;
    text-decoration: none;
    color: black;
}
.task > div{
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
}

.task_details{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sub-background-color);
    text-decoration: none;
    padding: 0 0 5% 0;
    color: black;
}
.task_details > div{
    width: 100%;
    text-align: center;
}
.task_buyer_details{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
    height: 200px;
    background-color: #FFFFFF;
    padding: 20px;
}
.task_buyer_details div{
    font-size: xx-large;
}
.task_buyer_details img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 90px;
}
.profile_name_img img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 90px;
}
.profile_brief{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

#burse .task_text{
    min-height: 70%;
}
#burse .task_id, #burse .task_deadline{
    display: none;
}